
html,body{margin:0;height:100%;overflow:hidden;background:#111;color:#fff;font-family:Arial}
#toolbar{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:8px;
  height:50px;
}
#viewer{
  display:flex;
  align-items:center;
  justify-content:center;
  height:calc(100vh - 50px);
  touch-action:pan-y;
}
#page{
  max-height:100%;
  max-width:100%;
}
button{
  background:none;
  color:white;
  font-size:32px;
  border:none;
  cursor:pointer;
}
input{
  width:60px;
  text-align:center;
}
